env = {
    # Telegram Bot Token
    "BOT_TOKEN": "1",
    # Telegram owner ID or any user IDs that would control the bot
    "ADMIN_ID": [
        1
    ],
    # Telegram channel ID or @username
    # It can be updated using 'add_channel' command
    "CHANNEL_ID": "-1"
}